@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

#slider {
  margin-top: 2rem;

  .range-slider__range {
    background: $tc;
  }

  .range-slider__thumb {
    width: 20px;
    height: 20px;
    background: white;
    box-shadow: 1px 1px 5px rgb(153, 153, 153);
    transition: all 0.1s;
  }

  .range-slider__thumb[data-active] {
    transform: translate(-50%, -50%) scale(1.25);
  }
}
