@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.component {
  max-width: 500px;
  max-height: calc(100% - 58.19px);
  color: $ffc;
  overflow-x: visible;
  overflow-y: scroll;
}
