@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.component {
  max-width: 500px;
  max-height: calc(100% - 58.19px);
  color: $ffc;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: inline;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(235, 235, 235);
    border-radius: 5px;
  }
}

.require {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  max-height: calc(100% - 58.19px);
  height: 100%;
  color: $ffc;
  font-size: 22px;
  animation: twinkle 1.5s infinite ease-in-out;

  @keyframes twinkle {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
