@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.component {
  height: calc(100% - 58.19px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $ffc;
}
