@import './reset.scss';

@font-face {
  font-family: 'SUIT-Thin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

$fc: rgba(207, 218, 229, 1);
$sc: rgba(188, 201, 214, 1);
$tc: rgba(161, 188, 215, 1);
$ffc: rgba(70, 70, 70, 1);
$lfc: rgb(200, 200, 200);

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  color: $ffc;
}

* {
  font-family: 'SUIT-Regular' !important;
}
