@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.container {
  position: relative;
  width: 240px;
  height: 148px;
  border: 1px solid $lfc;
  float: left;
  margin: 12px;
  box-shadow: 1px 1px 3px rgb(70, 70, 70, 0.6);
  border-radius: 2px;
  text-align: center;
  justify-content: center;

  .itemname {
    margin: 20px 0 0 0;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 600;
  }

  .itemaddress {
    margin: 10px auto 0 auto;
    font-size: 16px;
  }

  .distance {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 20px;
    color: rgb(255, 99, 132);
  }
}
