@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.container {
  background-color: rgb(255, 99, 132, 0.05);
  height: 40px;
  border-bottom: 0.5px solid $lfc;
}
.container2 {
  background-color: rgb(54, 162, 235, 0.05);
  height: 40px;
  border-bottom: 0.5px solid $lfc;
}
.container3 {
  background-color: rgb(75, 192, 192, 0.05);
  height: 40px;
  border-bottom: 0.5px solid $lfc;
}
.type {
  width: 20%;
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.time {
  width: 20%;
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.space {
  width: 20%;
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.floor {
  width: 10%;
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cost {
  width: 30%;
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
