@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.component {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: $primary;
  border-bottom: 1px solid $lprimary;
  font-family: SUIT-Regular;
  color: $fprimary;
  transition: top 2s ease-in-out;
  &.hidden {
    top: -100%;
  }

  .component-inner {
    width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tmp-logo {
      font-size: 40px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }

    .nav-right {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & a {
        margin: 0 1rem 0 0;
        font-size: 18px;
        transition: font-size 0.2s;

        &:hover {
          cursor: pointer;
          font-size: 18.5px;
          color: black;
        }
      }

      .tmp-profile-img {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        border: 1px solid $lprimary;
        background-color: rgb(222, 222, 222);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
