@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.component {
  height: 400px;
  display: flex;
  align-items: flex-end;
  background-color: white;

  .component-inner {
    width: 100%;
    height: 200px;
    border-top: 1px solid $lfc;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .content {
      margin: 0 auto;
      width: 85%;

      .title {
        font-size: 60px;
      }

      .copyright {
        margin: 1rem 0 0 0;
      }
    }
  }
}
