@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.component {
  width: 100%;
  text-align: center;

  @keyframes fade-in {
    0% {
      opacity: 0;
      margin-top: 100px;
    }
    100% {
      opacity: 1;
    }
  }

  & button {
    height: 500px;
    position: absolute;
    margin-top: 12px;
    border: none;
    background-color: inherit;
    font-size: 30px;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      color: rgb(90, 90, 90);
      background-color: rgb(242, 242, 242);
    }
  }

  .left-btn {
    left: -70px;
    margin-top: -40px;
    margin-left: 350px;
    line-height: 430px;
    color: rgb(100, 100, 100);
  }

  .right-btn {
    right: -70px;
    margin-top: -40px;
    margin-right: 790px;
    line-height: 430px;
    color: rgb(100, 100, 100);
  }
}
.dealtitle {
  background-color: rgb(233, 233, 233);
  height: 40px;
}
.type {
  width: 20%;
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.time {
  width: 20%;
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.space {
  width: 20%;
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.floor {
  width: 10%;
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cost {
  width: 30%;
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
