@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.component {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgb(233, 233, 233);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.type {
  background-color: $tc;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: medium;
  font-weight: 300;
}

.name {
  margin: 20px 0 0 0;
  font-size: 25px;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    color: $tc;
  }
}

.address {
  margin: 10px 0 0 0;
  font-size: 16px;
}

.deletebutton {
  margin-top: 40px;
  width: 310px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: $ffc;
  opacity: 0.5;
  font-size: larger;
  letter-spacing: 1.5px;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: $ffc;
    opacity: 0.6;
  }
}
